@import url(http://fonts.googleapis.com/css?family=Voltaire);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	background: #e6f1ff;
	font-family: 'Open+Sans', sans-serif;
	font-size: 16px;
	color: #02011E;
	width: 85%;
	margin: 0;
	padding: 0;
}


#header {
	padding-left: 15%;
	clear: both;
	font-family: 'Voltaire', sans-serif;
}

h1 {
	color: #02011E;
	font-size: 4em;
	margin-bottom: 0;
	padding-bottom: 0;
	float: left;
	border-right: 2px solid #02011E;
	padding-right: .3em;
}

a:link {
	color: #02011E;
	text-decoration: none;
}

a:visited {
	color: #02011E;
	text-decoration: none;
}

a:hover {
	color: #EB86C6;
}

#top_nav a:hover {
	text-decoration: underline;
}

nav ul {
	padding-top: 78px;
	padding-left: 60px;
}

nav li {
	display: inline;
	padding: 0 20px 0 20px;
}

#top_nav {
	padding-right: 0;
}

h2 {
	padding-top: 5%;
	font-size: 2em;
}

#contact {
	text-decoration: underline;

}

#about_text {
	padding-left: 15%;
}


p {
	padding-left: 40%;
	padding-right: 10%;
	color: #02011E;
}

img {
	float: left;

}