@import url(http://fonts.googleapis.com/css?family=Voltaire);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	background: #e6f1ff;
	font-family: 'Open+Sans', sans-serif;
	font-size: 16px;
	color: #02011E;
	width: 85%;
	margin: 0;
	padding: 0;
}


#header {
	padding-left: 15%;
	clear: both;
	font-family: 'Voltaire', sans-serif;
}

h1 {
	color: #02011E;
	font-size: 4em;
	margin-bottom: 0;
	padding-bottom: 0;
	float: left;
	border-right: 2px solid #02011E;
	padding-right: .3em;
}

a:link {
	color: #02011E;
	text-decoration: none;
}

a:visited {
	color: #02011E;
	text-decoration: none;
}

a:hover {
	color: #EB86C6;
}

#top_nav a:hover {
	text-decoration: underline;
}

#top_nav nav ul {
	padding-top: 78px;
	padding-left: 60px;
}

#top_nav nav li {
	display: inline;
	padding: 0 10px 0 10px;
}

#top_nav {
	padding-right: 0;
}

#illustrator_nav nav ul li {
	list-style-type: none;
}

#back {
	padding-top: 5%;
}

h2 {
	font-size: 2.7em;
	margin: 0;
	padding-left: 15%;
	padding-top: 5%;
}

#illustrator_nav li { 
	border-bottom: 1px solid #02011E;
}

#illustrator_nav {
	padding-left: 15%;
	padding-right: 10%;
}

p {
	padding-left: 5%;
}

#top {
	border-top: 1px solid #02011E;
}

#goback {
	padding-top: 5%;
	padding-left: 15%;
}
