@import url(http://fonts.googleapis.com/css?family=Voltaire);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	background: #e6f1ff;
	font-family: 'Open+Sans', sans-serif;
	font-size: 16px;
	color: #02011E;
	width: 85%;
	margin: 0;
	padding: 0;
}


#header {
	padding-left: 15%;
	clear: both;
	font-family: 'Voltaire', sans-serif;
}

h1 {
	color: #02011E;
	font-size: 4em;
	margin-bottom: 0;
	padding-bottom: 0;
	float: left;
	border-right: 2px solid #02011E;
	padding-right: .3em;
}

h2 {
	font-size: 2em;
	margin: 0;
	padding-left: 15%;
	padding-top: 5%;
}

h3 {
	font-size: 1.2em;
	padding-top: 0;
}

p {
	padding-left: 5%;
}



#link {
	text-align: right;
}

#link a:link {
	text-decoration: underline;
}

a:link {
	color: #02011E;
	text-decoration: none;
}

a:visited {
	color: #02011E;
	text-decoration: none;
}

a:hover {
	color: #EB86C6;
}

#top_nav a:hover {
	text-decoration: underline;
}

#top_nav nav ul {
	padding-top: 78px;
	padding-left: 60px;
}

#top_nav nav li {
	display: inline;
	padding: 0 20px 0 20px;
}

#top_nav {
	padding-right: 0;
}

table {
	padding-top: 5%;
	padding-left: 20%;
}

#article {
	padding-top: 3%;
	padding-left: 15%;
}

iframe {
	padding-left: 15%;
}

#index h2 {
	 margin-bottom: 0px;
	 text-decoration: underline;
}

#index h3 {
	padding-left: 5%;
	margin-top: 0px;
	margin-bottom: 1em;
}

#index ul {
	margin: 0;
	padding-left: 15%;
	padding-top: 5%;
}

/*contact*/

#contact {
	padding-left: 15%;
}

ul li {
	list-style-type: none;
}

#intro {
	max-width: 50%;
	text-align: left;
	float: left;
}

#contact_info {
	margin-left: 30%;
	margin-right: 20%;
	padding-top: 2%;
	background: #f0f5fc;
	padding-bottom: 2%;
	border: 2px solid #02011E;
	padding-right: 2%;
}

#contactheader {
	text-align: left;
	padding-bottom: 0;
	padding-top: 5%;
}

/*end of contact*/

/*resume*/
#left {
	padding-top: 5%;
	padding-left: 15%;
}

#education {
	max-width: 30%;
	float: left;
	clear: left;
	border-right: 2px solid #02011E;
	border-top: 2px solid #02011E;
	border-left: 2px solid #02011E;
	background: #f0f5fc;
	padding-right: 10px;
	padding-left: 30px;

}

#skills ul, #awards ul, #activities ul {
	padding-left: 0;
}

#skills ul li, #awards ul li, #activities ul li, #experience ul li {
	list-style-type: disc;
}

#skills {
	max-width: 30%;
	float: left;
	clear: left;
	border-right: 2px solid #02011E;
	border-left: 2px solid #02011E;
	background: #f0f5fc;
	padding-right: 10px;
	padding-left: 30px;
	list-style-type: circle;
}

#awards {
	max-width: 30%;
	float: left;
	clear: left;
	border-right: 2px solid #02011E;
	border-left: 2px solid #02011E;
	border-bottom: 2px solid #02011E;
	background: #f0f5fc;
	padding-right: 10px;
	padding-left: 30px;
}

#resume_link {
	text-decoration: underline;
}

#activities {
	max-width: 30%;
	float: left;
	clear: left;
	border-right: 2px solid #02011E;
	border-left: 2px solid #02011E;
	border-bottom: 2px solid #02011E;
	background: #f0f5fc;
	padding-right: 10px;
	padding-left: 30px;
}

#experience {
	margin-left: 50%;
	text-align: left;
	max-width: 55%;
	background: #f0f5fc;
	border: 2px solid #02011E;
	margin-bottom: 5%;
	padding-left: 30px;
}

#experience h2 {
	margin-left: 15%
}


/*end of resume*/

/*audio*/
#audio_nav li { 
	border-bottom: 1px solid #02011E;
}

#audio_nav {
	padding-left: 10%;
	padding-right: 10%;
}

p {
	padding-left: 5%;
}

#top {
	border-top: 1px solid #02011E;
}

#goback {
	padding-top: 5%;
	padding-left: 15%;
}

#audio_nav nav, ul, li {
	list-style-type: none;
}
/*end of audio*/

#mywork {
	font-size: 2.7em;
	margin: 0;
	padding-left: 15%;
	padding-top: 5%;
}

/*Videos*/

#videos_nav nav, ul, li {
	list-style-type: none;
}

#videos_nav li { 
	border-bottom: 1px solid #02011E;
}

#videos_nav {
	padding-left: 15%;
	padding-right: 10%;
}

p {
	padding-left: 5%;
}

#top {
	border-top: 1px solid #02011E;
}

#goback {
	padding-top: 5%;
	padding-left: 15%;
}

#back {
	padding-top: 5%;
}

/*blog*/
#blog_nav li { 
	border-bottom: 1px solid #02011E;
	list-style-type: none;
}

#blog_nav {
	padding-left: 15%;
	padding-right: 10%;
}

#top {
	border-top: 1px solid #02011E;
}

#goback {
	padding-top: 5%;
	padding-left: 15%;
}

#blog {
	padding-top: 3%;
	padding-left: 15%;
}

#blog h3 {
		margin: 0;
	padding-left: 15%;
}


#commandments {
	padding-left: 35%;
}

ol li {

}

/* articles */

#trivia {
	border-top: 1px solid #02011E;
}

#article_nav li { 
	border-bottom: 1px solid #02011E;
}

#article_nav {
	padding-left: 15%;
	padding-right: 10%;
}

#article_nav nav ul li {
	list-style-type: none;
}

#back {
	padding-top: 5%;
}

#cac {
	padding-top: 3%;
	padding-left: 15%;
}

#trivia {
	padding-top: 3%;
	padding-left: 15%;
}

/* illustrator */

img {
	padding-left: 20%;
	padding-top: 3%;
}

/* animations */
#animations_nav {
	padding-left: 15%;
	padding-right: 10%;
}

/* work index */

#work_nav {
	padding-left: 15%;
	padding-right: 15%;
}

#work_nav nav ul li {
	list-style-type: none;
}

#work_nav h2 {
	font-size: 2.7em;
	margin: 0;
	padding-left: 0;
	border-bottom: 1px solid #02011E;
}


/*about me */

#contact_about {
	text-decoration: underline;
}


#about_text p {

	padding-right: 10%;
	padding-top: 3%;
}

#about_text img {
	float: left;

}

/*contact*/
#intro {
	max-width: 30%;
	text-align: left;
	float: left;
}

#info {
	margin-left: 30%;
	padding-top: 2%;
	background: #353536;
	padding-bottom: 2%;
	border: 1px solid #02011E;
	padding-right: 2%;
}

#contact {
	padding-left: 15%;
}

#contact h2 {
	font-size: 2em;
	text-align: left;
	padding-bottom: 3%;
	padding-top: 5%;
	padding-left: 0;
}

