@import url(http://fonts.googleapis.com/css?family=Voltaire);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	background: #02011E;
	font-family: 'Open+Sans', sans-serif;
	font-size: 16px;
	color: white;
	width: 85%;
	margin: 0;
	padding: 0;
}


#header {
	padding-left: 15%;
	clear: both;
	font-family: 'Voltaire', sans-serif;
}

h1 {
	color: white;
	font-size: 4em;
	margin-bottom: 0;
	padding-bottom: 0;
	float: left;
	border-right: 2px solid white;
	padding-right: .3em;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #EB86C6;
}

#top_nav a:hover {
	text-decoration: underline;
}

#top_nav nav ul {
	padding-top: 78px;
	padding-left: 60px;
}

#top_nav nav li {
	display: inline;
	padding: 0 10px 0 10px;
}

#top_nav {
	padding-right: 0;
}


h2 {
	font-size: 2em;
	margin: 0;
	padding-left: 15%;
	padding-top: 5%;
}

img {
	padding-left: 20%;
	padding-top: 3%;
}

#back {
	padding-left: 15%;
	padding-top: 5%;
}
