@import url(http://fonts.googleapis.com/css?family=Prata);

body {
	color: #000;
	background: transparent;
	font-size: 12pt;
	font-family: 'Prata', serif;
}

@page {
	margin: 0.5in
}

a[href^="http:"]:after { content: " (" attr(href) ") "; }

img, #nav, #bottom_nav {
	display: none;
}
