@import url(http://fonts.googleapis.com/css?family=Voltaire);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	background: #02011E;
	font-family: 'Open+Sans', sans-serif;
	font-size: 16px;
	color: white;
	width: 85%;
	margin: 0;
	padding: 0;
}


#header {
	padding-left: 15%;
	clear: both;
	font-family: 'Voltaire', sans-serif;
}
h1 {
	color: white;
	font-size: 4em;
	margin-bottom: 0;
	padding-bottom: 0;
	float: left;
	border-right: 2px solid white;
	padding-right: .3em;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #EB86C6;
}

#top_nav a:hover {
	text-decoration: underline;
}

nav ul {
	padding-top: 78px;
	padding-left: 60px;
}

nav li {
	display: inline;
	padding: 0 20px 0 20px;
}

#top_nav {
	padding-right: 0;
}


#education {
	max-width: 30%;
	float: right;
	border-left: 1px solid white;
	padding-left: 30px;
		background: #353536;
		margin-top: 5%;
		border-right: 1px solid white;
		border-top: 1px solid white;
}

#skills {
	max-width: 30%;
	float: right;
	border-left: 1px solid white;
	padding-left: 30px;
	background: #353536;
	border-right: 1px solid white;
}

#skills ul, #activities ul {
	padding-left: 0;
}

#activities {
	max-width: 30%;
	float: right;
	border-left: 1px solid white;
	padding-left: 30px;
	background: #353536;
	border-right: 1px solid white;
	border-bottom: 1px solid white;

}

#experience {
	text-align: left;
	max-width: 50%;
	float: left;
	clear: all;
	background: #353536;
	margin-left: 15%;
	border: 1px solid white;
	margin-top: 5%;
	padding-left: 5px;

}

